<div class="left_side">
  <div class="tags">
    <h2>Books</h2>
    <ul>
      <% BIBLE.each do |book| %>
        <li>
        <%= link_to_unless params[:book] == book, book, params.merge({:book => book}) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="right_side">
  <div class="tags">
    <h2>Categories</h2>
    <ul>
      <% @categories.each do |cat| %>
        <li>
        <%= link_to_unless params[:cat].to_i == cat.id, cat.name, params.merge({:cat => cat.id}) %> 
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tags">
    <h2>Speakers</h2>
    <ul>
      <% @speakers.each do |speaker| %>
        <li>
        <%= link_to_unless params[:speaker].to_i == speaker.id, speaker.name, params.merge({:speaker => speaker.id}) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

