<div class="side">
  <div class="categories">
    <h2>Categories</h2>
    <ul>
      <li>Love</li>
      <li>Joy</li>
      <li>Peace</li>
    </ul>
  </div>
</div>
<div class="messages">
  <div class="full">
<% if @messages.present? %>
  <% @messages.each do |message| %>
    <div class="message">
      <div class="main">
        <div class="info">
          <span class="speaker"><%= message.speaker %></span>
          <span class="created_at"></span>
        </div>
        <h2><%= message.title %></h2>
        <div class="summary">
          <%= message.summary %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
<% end %>
<% else %>
<p>no messages found.</p>
<% end %>
  </div>
</div>

<%= paginate @messages %>
