<h1>Listing messages</h1>

<div id="messages">
<% if @messages.present? %>
<ul>
<% @messages.each do |message| %>
  <li>
    <%= message.title %>
    <%= message.speaker %>
    <%= message.mdate %>
  </li>
<% end %>
</ul>
<% else %>
<p>no messages found.</p>
<% end %>
</div>
