<div class="row">
  <div class="span8">
    <form class="form-inline">
      <a class="btn" href="#new">New Message</a>
      <input type="text" class="span2" placeholder="search" ng-model="search.$">
    </form>
  </div>
  <div class="span2">
  </div>
  <div class="span2">
  </div>
</div> 
<div class="row">
  <div class="span8">
    <ul class="thumbnails">
      <li class="span8 thumbnail" ng-repeat="message in messages">
      <article>
        <header>
          {{message.title}} by {{message.speaker_name}}
        </header>
        <p>{{message.summary}}</p>
        <footer>
          {{message.listened_on}}
        </footer>
      </article> 
      </li>
    </ul>
  </div>
  <div class="span2">
    <h4>Categories</h4>
    <!-- TODO: create partial DRY -->
    <ul class="unstyled">
      <li ng-repeat="category in categories">
      <div class="category">
        <span class="pointer label {{labelColor | labelCategory:category.active}}" ng-click="filterByCategory(category)" ng-hide="editMode">{{category.name}}</span>
        <span class="pointer edit" ng-hide="editMode" ng-click="removeCategory(category)">&times;</span>  
        <span class="pointer edit" ng-hide="editMode" ng-click="editMode=true">
          <i class="icon-edit"></i>
        </span> 

        <form ng-show="editMode">
          <div class="input-append">
            <input type="text" class="input-small" ng-model="category.name" />
            <button class="btn btn-primary" ng-click="editMode=false; updateCategory(category)">Save</button>
            <button class="btn" ng-click="editMode=false">Cancel</button>
          </div>
        </form>
      </div>
      </li>
    </ul>
    <form>
      <div class="input-append">
        <input type="text" class="input-small" placeholder="new category" ng-model="newCategory.name">
        <button class="btn btn-primary" ng-click="addCategory()">Add</button>
      </div>
    </form>
  </div>
  <div class="span2">
    <h4>Speakers</h4> 
    <ul class="unstyled">
      <li ng-repeat="speaker in speakers">
      <div class="speaker">
        <span class="label">{{speaker.name}}</span>
      </div>
      </li>
    </ul> 
  </div>
</div>



