<div class="row">
  <div class="span8">
    <h4>{{message.title}}</h4>
    <p>
    By <span class="label">{{message.speaker_name}}</span> 
    <span ng-show="message.category_names">
      in category <span class="label label-info" ng-repeat="category_name in message.category_names">{{category_name}}</span>
    </span>
    listened on {{message.listened_on | date: 'mediumDate'}}
    <a href="{{message.url}}" target="_blank" ng-show="message.url"><i class="icon-share" title="resource link"></i></a>
    <a href="#/edit/{{message.id}}"><i class="icon-edit" title="edit message"></i></a>
    </p>
    <p><strong>Summary</strong><br />
    {{message.summary}}
    </p>
    <p ng-show="message.note"><strong>Note</strong><br />
    {{message.note}}
    </p>
    <ul class="unstyled">
      <li ng-repeat="verse in message.verses">
      <p><strong>{{verse.ref}}</strong> <a ng-click="removeVerse(verse)">&times;</a> <a ng-click="favorVerse(verse)" ng-hide="verse.favorite || versesChanged"><i class="icon-heart" title="favor verse"></i></a><br />
      {{verse.content}}
      </p>
      </li>
    </ul>
    <form>
      <div class="input-append">
        <input type="text" placeholder="new verse" ng-model="newVerse" bible-autocomplete />
        <button class="btn" ng-click="addVerse()">Add</button>
        <button class="btn btn-primary" ng-click="saveVerses()" ng-show="versesChanged">Save Verses</button>
        <button class="btn" ng-click="cancel()" ng-show="versesChanged">Cancel</button>
      </div>
    </form>
  </div>
</div>
