  <ul class="unstyled">
    <li ng-repeat="category in categories">
    <div class="category">
      <span class="pointer label {{labelColor | labelCategory:category.active}}" ng-click="filterByCategory(category)" ng-hide="editMode">{{category.name}}</span>
      <span class="pointer edit" ng-hide="editMode" ng-click="removeCategory(category)">&times;</span>  
      <span class="pointer edit" ng-hide="editMode" ng-click="editMode=true">
        <i class="icon-edit"></i>
      </span> 
       
      <form ng-show="editMode">
        <div class="input-append">
          <input type="text" class="input-small" ng-model="category.name" />
          <button class="btn btn-primary" ng-click="editMode=false; updateCategory(category)">Save</button>
          <button class="btn" ng-click="editMode=false">Cancel</button>
        </div>
      </form>
    </div>
    </li>
  </ul>
    <form>
      <div class="input-append">
        <input type="text" class="input-small" placeholder="new category" ng-model="newCategory.name">
        <button class="btn btn-primary" ng-click="addCategory()">Add</button>
      </div>
    </form>
  </div>

