<% if target.errors.any? %>
<div id="error_alert">
  <div class="ui-widget">
    <div class="ui-state-error ui-corner-all" style="padding: .5em .7em;">
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
      <strong>Alert: </strong><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:<br />
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
</div>
<% end %>

