<div data-role="header">
  <%= link_to 'Full', root_url(:mobile => 0), :rel => "external", "data-icon" => "back" %> 
  <h1>My Favorite Verse Today</h1>
  <%= link_to 'Categories', categories_path, "data-icon" => "arrow-d" %> 
</div>

<div data-role="content">
  <h3><%= @verse.ref %></h3>
  <p><%= @verse.esv_passage %></p> 
</div>
