<p>Sermon Messages helps you to keep track of your messages. It also provides tool to help you to memorize your favorite verses</p>

<% if current_user %>
  <p>Sermon Messages is written by Johann Chen. He is available as a freelancer to work on any web application project using <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://angularjs.org">Angularjs</a>. He is passionate about writing web applications for churches or for any good cause. He along with his wife and one year old daughter are involved in medical missions overseas through <a href="http://www.samaritanspurse.org">Samaritan's Purse</a>. If you would like to know about their ministry, please email Johann at johannchen AT gmail.com. Also if you are led by the Spirit to support them financially, you can make donations to their project account at Samaritan's Purse <a href="https://www.samaritanspurse.org/index.php/giving/wmm_doctors" target="_blank">https://www.samaritanspurse.org/index.php/giving/wmm_doctors</a> (please search for “Chen, Mei-lin and Johann”).</p>
  <p>Note: All scriptures are in ESV only.</p>
  <p>If you have any feedback about the applicaiton, please email johannchen AT gmail.com or submit a new issue directly on <a href="https://github.com/johannchen/messages">github</a>. Hope you find this applicaiton helpful, and God bless you!</p>
<% end %>
