<div data-role="header">
  <h1>Favorites Verses</h1>
  <%= link_to 'Full', root_url(:mobile => 0), "data-icon" => "gear", :class => "ui-btn-right" %> 
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @verses.each do |verse| %>
    <li>
      <%= verse.ref %> 
    </li>
    <% end %> 
  </ul>
</div>

<div data-role="footer">
  <%= link_to 'Back', verses_path, "data-icon" => "back", :class => "ui-btn-left" %> 
</div>
