<div ng-app="versesApp" ng-controller="VersesCtrl">
<div id="headrow" class="row">
  <div class="span5">
    <form class="form-inline">
      <button class="btn" ng-click="showNewVerseForm()">New Verse</button>
      <input type="text" class="span2" placeholder="search" ng-model="search.$">
      <select class="span1" ng-model="memorizedOption">
        <option value="">filter</option>
        <option value="unmemorized">Unmemorized</option>
        <option value="memorized">Memorized</option>
      </select>
      
      <select class="span1" ng-model="sort">
        <option value="">sort</option>
        <option value="-last_memorized_at" ng-show="memorizedOption == 'memorized'">Lastest Memorized</option>
        <option value="last_memorized_at" ng-show="memorizedOption == 'memorized'">Oldest Memorized</option>
        <option value="-memorized" ng-show="memorizedOption == 'memorized'">Most Memorized</option>
        <option value="memorized" ng-show="memorizedOption == 'memorized'">Least Memorized</option>
        <option value="-created_at">Lastest Added</option>
        <option value="created_at">Oldest Added</option>
        <option value="ref">Verse Reference</option>
      </select>
      <span class="badge" title="result">{{resultCount = (verses | filter:search | filter:filterByMemorized).length}}</span>
    </form>
  </div>
  <div class="span5">
    <div class="pull-right">
      <span class="badge badge-success" title="Memorized Total">{{memorizedCount()}}</span> / 
      <span class="badge badge-inverse" title="Verse Total">{{verses.length}}</span>
    </div> 
    <div class="progress progress-success">
      <div class="bar" style="width: {{progress()}}%;"></div>
    </div>
  </div>
  <div class="span2">
    <h4>Categories</h4>
  </div>
</div>
<div class="row">
  <div class="span10">
    <div class="row">
      <div id="verses" ng-init="limit=10">
        <ul class="thumbnails">
          <li class="span5" ng-show="isAddingVerse">
            <form name="newVerseForm" class="span5 thumbnail">
              <div class="form-inline">
                <input type="text" name="verse_ref" class="span2" required placeholder="verse reference" autofocus="autofocus" ng-model="newVerse.ref" bible-autocomplete>
              </div>
              <button class="btn btn-large close pull-right"  ng-click="cancelNewVerse()">&times;</button>  
              <hr />
              <textarea rows="5" class="span4 input-xlarge"  ng-model="newVerse.content" placeholder="verse content by default ESV (can be override)"></textarea><br />
              <button ng-click="addVerseClose()" class="btn btn-primary" ng-disabled="newVerseForm.$invalid">Add Verse</button>
              <button ng-click="addVerseOpen()" class="btn btn-success" ng-disabled="newVerseForm.$invalid">Add Another</button>
              <button ng-click="cancelNewVerse()" class="btn">Cancel</button>
            </form>
          </li>

          <li class="span5" ng-repeat="verse in verses | filter:search | filter:filterByMemorized | orderBy:sort | limitTo:limit">
          <div ng-model="verseColor" class="span5 thumbnail {{verseColor | verseBgColor:verse.memorized}}">
            <div class="verse-header">
              <span ng-hide="editMode">{{verse.ref}}</span>
              <span ng-show="editMode">
                <input type="text" class="span2" ng-model="verse.ref" />
                <i class="icon-thumbs-down pointer" title="unfavor verse" ng-click="editMode=false; unfavorVerse(verse)"></i>
              </span>
              <span ng-hide="editMode">
              <i class="icon-arrow-right pointer" title="to memorize" ng-click="showMemorizeForm()" ng-model="isMemorizing" ng-hide="isMemorizing"></i> 
              <i class="icon-arrow-left pointer" title="to review" ng-click="hideMemorizeForm()" ng-show="isMemorizing"></i> 
              <i class="icon-info-sign" title="created on {{verse.created_at | date:'MM/dd/yy'}}"></i>
              <span title="last memorized on {{verse.last_memorized_at | date:'MM/dd/yy'}}" ng-show="verse.memorized">{{verse.memorized}}</span>
              <i class="icon-edit pointer" title="edit verse" ng-click="editMode=true"></i>
              <i class="icon-list" title="categorize verse" ng-hide="isEditingVerseCategories" ng-click="editVerseCategories()"></i>
              <span class="label label-info" ng-hide="isEditingVerseCategories" ng-repeat="category in verse.category_names">{{category}}</span>
            </span>
              <span class="pull-right">            
                <button class="btn btn-large close" title="remove verse" ng-click="removeVerse(verse)">&times;</button>  
              <span>
          </div>
          <div ng-show="isEditingVerseCategories">
            <select multiple class="span3" ng-model="verse.category_names" ui-select2>
              <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
            </select>
            <button ng-click="saveVerseCategories(verse)" class="btn btn-primary">Save</button>
            <button ng-click="cancelEditVerseCategories()" class="btn">Cancel</button>
          </div>
          <hr /> 
          <div class="verse_content">
            <div ng-hide="isMemorizing">
              <span ng-hide="editMode">{{verse.content}}</span>
              <div ng-show="editMode">
                <textarea rows="10" class="span4 input-xlarge" ng-model="verse.content"></textarea><br />
                <button class="btn btn-primary" ng-click="editMode=false; updateVerse(verse)">Save</button>
                <button class="btn" ng-click="editMode=false">Cancel</button>
              </div>
            </div>
            <div ng-show="doneMemorizing">
              <hr />
              <div ng-bind-html-unsafe="diffResult"></div>
            </div>
          </div>
          <form ng-submit="memorizeVerse()" ng-show="isMemorizing">
            <textarea rows="5" class="span4 input-xlarge" placeholder="type verse to memorize" ng-model="typedContent"></textarea><br />
            <input type="submit" class="btn-primary" value="Submit">
          </form>
        </div>
      </div>
      </li>
    </ul>
  </div>
  <div id="load-more" ng-show="limit < resultCount">
    <button class="btn" ng-click="limit=limit+10"><i class="icon-arrow-down"></i>Load More</button>
  </div>
</div>
<div class="span2">
  <ul class="unstyled">
    <li ng-repeat="category in categories">
    <div class="side_item">
      <span class="pointer label {{labelColor | labelCategory:category.active}}" ng-click="filterByCategory(category)" ng-hide="editMode">{{category.name}}</span>
      <span class="pointer edit" ng-hide="editMode" ng-click="removeCategory(category)">&times;</span>  
      <span class="pointer edit" ng-hide="editMode" ng-click="editMode=true">
        <i class="icon-edit"></i>
      </span> 
       
      <form ng-show="editMode">
        <div class="input-append">
          <input type="text" class="input-small" ng-model="category.name" />
          <button class="btn btn-primary" ng-click="editMode=false; updateCategory(category)">Save</button>
          <button class="btn" ng-click="editMode=false">Cancel</button>
        </div>
      </form>
    </div>
    </li>
  </ul>
    <form>
      <div class="input-append">
        <input type="text" class="input-small" placeholder="new category" ng-model="newCategory.name">
        <button class="btn btn-primary" ng-click="addCategory()">Add</button>
      </div>
    </form>
  </div>

  <!-- TODO: DRY categories partial 
  <div ng-include="templates/categories.html"></div>
  -->
</div>
</div>
