<div data-role="header">
  <a data-rel="back" data-icon="back">Back</a>
  <h1><%= @verse.ref %></h1>
  <%= link_to 'Home', root_url, "data-icon" => "home" %> 
</div>

<div data-role="content">
  <p><%= @verse.esv_passage %></p> 
</div>
