<p>Please send feedback about problems, ideas or anything about this site.</p>
<%= form_tag('/feedbacks') do %>
  <div class="field">
    <%= text_area_tag :feedback, nil, :cols => 100, :rows => 20 %>
  </div>
  <div class="actions">
    <%= submit_tag "Send Feedback" %>
  </div>
<% end %>
