/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

a {
  color: #1B97F2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.clear {
  clear: both;
}

ul {
  margin: 4px 0;
  padding-left: 17px;
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

#flash_notice, #flash_alert {
  padding: 10px 0;
  text-align: center;
  color: #FFF;
}

#flash_notice {
  background-color: #267923;
}

#flash_alert {
  background-color: #871F22;
}

#flash_notice a, #flash_alert a {
  color: #FFF;
}

.notice {
  padding: 0 .7em;
  margin-right: 350px;
  margin-bottom: 10px;
}

.field {
  margin: 10px 0;
}

.special_email_field {
  display: none;
}

.ui-icon {
  float: left;
  margin-right: 10px;
}

label {
  display: block;
  padding: 5px 5px;
}
label.check_box {
  display: inline;
}


/*** ERRORS ***/

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px 0;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
  margin-left: 10px;
}


/*** SECTIONS ***/

#top {
  position: relative;
}

#top .title {
  font-family: 'Devonshire', cursive;
  margin-top: 20px;
  margin-left: 100px;
  padding-bottom: 5px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 1px 2px #DE9F00;
}

#top .user_nav {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

#nav_bar {
  position: relative;
  height: 25px;
  padding: 8px 100px;
  background-color: #333;
  border-top: solid 1px #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#5C5C5C), to(#111));
  background: -moz-linear-gradient(top,  #5C5C5C, #111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#111');
  border-bottom: solid 3px #DE9F00;
  margin-bottom: 15px;
}

#nav_bar .nav {
  float: right;
  padding-top: 2px;
}

#nav_bar .nav li {
  padding-left: 25px;
  font-size: 14px;
  color: #BBB;
}

#nav_bar .nav li a {
  color: #FFF;
}

#main {
  padding-top: 15px;
  max-width: 1500px;
}

#footer {
  clear: both;
  font-size: 11px;
  text-align: center;
  padding: 25px 0;
  color: #555;
}

.content {
  margin: 0 100px;
  position: relative;
}

.text_content {
  margin: 0 100px;
  margin-right: 400px;
}

.top_links {
  margin-bottom: 10px;
}

.top_links ul {
  padding-left: 0;
}

.top_links ul li {
  list-style: none;
  display: inline;
  float: left;
  margin: 0 4px;
}

.top_links ul span.ui-icon {
  float: left;
  margin-right: 4px;
}
.top_links ul li a {
  padding-right: 6px;
}

.stat {
  margin-bottom: 10px;
}

.list_filter {
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #DDD;
  padding: 2px 8px;
  font-size: 12px;
  margin-right: 3px;
}

.actions {
  margin: 8px 0;
}

.actions a {
  padding: 3px 8px 2px 8px;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDD));
  background: -moz-linear-gradient(top,  #F5F5F5, #DDD);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDD');
  text-decoration: none;
}

/*** SIDE ***/
.left_side {
  position: absolute;
  right: 150px;
  top: 0;
}

.right_side {
  position: absolute;
  right: 0;
  top: 0;
}

/*** TAGS ***/
.tags {
  margin-bottom: 20px;
}

.tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.tags li {
  margin: 5px 0;
  font-size: 14px;
}

.tags h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

/*** TABLE LIST ***/
.list {
  border-collapse: collapse;
  width: 100%;
}

.list td, .list th {
  border-bottom: solid 1px #CCC;
}

.list td {
  padding: 5px;
}

.list th {
  padding: 5px;
  text-align: left;
  color: #777;
}
