// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require fullcalendar

label.error {
  float: none; 
  color: red; 
  padding-left: .5em; 
  vertical-align: top;
}

/*** MESSAGES ***/

.messages {
  margin-right: 350px;
}

.messages h2 .remove {
  font-size: 14px;
  font-weight: normal;
}

.top_links {
  margin-bottom: 15px;
}

.full .message {
  padding-bottom: 18px;
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 20px;
}

.full .main {
}

.full .info {
  color: #999;
  font-size: 12px;
}

.full .speaker {
  text-transform: uppercase;
  font-weight: bold;
}

.full h2, .message h2 a {
  color: #E98C08;
}

.full h2 {
  margin: 3px 0;
}

.full .summary {
  margin-bottom: 5px;
}

/*** SHOW MESSAGE ***/
#message {
  margin: 0 auto;
  width: 962px;
}

#message .info h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

#message .info .details {
  color: #777;
  font-size: 12px;
}

#message .info .summary {
  margin-top: 6px;
  margin-right: 140px;
  margin-bottom: 10px;
}

#message .info .verses {
  margin-bottom: 10px;
}

#message .info .url {
  margin-bottom: 10px;
}

