// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require fullcalendar

label.error {
  float: none; 
  color: red; 
  padding-left: .5em; 
  vertical-align: top;
}

/*** SIDE ***/
.left_side {
  position: absolute;
  right: 150px;
  top: 0;
}

.right_side {
  position: absolute;
  right: 0;
  top: 0;
}

/*** TAGS ***/
.tags {
  margin-bottom: 20px;
}

.tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.tags li {
  margin: 5px 0;
  font-size: 14px;
}

.tags h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

/*** MESSAGES ***/

.messages {
  margin-right: 350px;
}

.messages h2 .remove {
  font-size: 14px;
  font-weight: normal;
}

.top_links {
  margin-bottom: 15px;
}

.full .message {
  padding-bottom: 18px;
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 20px;
}

.full .main {
}

.full .info {
  color: #999;
  font-size: 12px;
}

.full .speaker {
  text-transform: uppercase;
  font-weight: bold;
}

.full h2, .message h2 a {
  color: #E98C08;
}

.full h2 {
  margin: 3px 0;
}

.full .summary {
  margin-bottom: 17px;
}

/*** SHOW MESSAGE ***/
#message {
  margin: 0 auto;
  width: 962px;
}

#message .info h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

#message .info .details {
  color: #777;
  font-size: 12px;
}

#message .info .summary {
  margin-top: 6px;
  margin-right: 140px;
  margin-bottom: 10px;
}

#message .info .verses {
  margin-bottom: 10px;
}

#message .info .url {
  margin-bottom: 10px;
}
