// Place all the styles related to the verses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.white {
    background-color: #FFFFFF;
}
.moccasin {
    background-color: #FFE4B5;
}
.pink {
    background-color: #FFC0CB;
}
.coral {
    background-color: #FF7F50;
}
.khaki {
    background-color: #F0E68C;
}
.tan {
    background-color: #D2B48C;
}
.lightblue {
    background-color: #ADD8E6;
}
.yellowgreen {
    background-color: #9ACD32;
}
.orchid {
    background-color: #DA70D6;
}
.orange {
    background-color: #FFA500;
}
.limegreen {
    background-color: #32CD32;
}

.pointer {
  cursor: pointer;
}

.category {
  margin-bottom: 2px;
}

.category .edit {
  display: none;
}

.category:hover .edit {
  display: inline;
}
