// Place all the styles related to the verses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.verse {
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 20px;
}

.verse .ref {
  font-weight: bold;
  padding-right: 15px;
  float: left;
}


