<div data-role="header">
  <a data-rel="back" data-icon="back">Back</a> 
  <h1><%= @category.name %></h1>
  <%= link_to 'Add', "#", "data-icon" => "plus" %> 
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @verses.each do |verse| %>
    <li>
      <%= link_to verse.ref, verse_path(verse) %> 
    </li>
    <% end %> 
  </ul>
</div>
